.header{
  background-color: burlywood;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center; 
 height: 520px;
 padding-top: 120px;
 width: 100%;
 background-image: url(https://www.transparenttextures.com/patterns/basketball.png); 
}

.Yourname{
color:#FFFFFF; 
}
